<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tour Harvard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6414071DE8E1A1000571EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C64141B1DE8E1A2000571EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6414261DE8E1A2000571EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
